<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Reportstest" parallel="classes" thread-count="1">
	<listeners>
		<listener class-name="InterviewPractice.Reporting" />
	</listeners>
	<test name="Test1">
	<parameter name="ReportName" value="NewReportV2"></parameter>
		<groups>
			<run>
				<exclude name="Windowhandles" />
			</run>
		</groups>
		<classes>
			<class name="InterviewPractice.Execution">
			</class>
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
