<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="DemoWebShopE2E">
	<listeners>
		<listener class-name="Utlilities.Log4jListener" />
	</listeners>
	<test thread-count="5" parallel="methods" name="Test">
		<groups>
			<run>
				<exclude name="Windowhandles" />
			</run>
		</groups>
		<classes>
			<class name="TestExecution.DemoWebShop_OrderItem">
		<!--		<methods>
					 	<include name="Checkbrokenlink"></include>
					<include name="PageFactoryExample"></include> 
					<include name="Invocationtest"></include>   
				</methods> -->
			</class>
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
