<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="2">
	<test thread-count="5" name="Test1">
		<classes>		
			<!--    <class name="CollectionsFW.Collections_Framework"/>-->
			<!-- <class name="API.PostmanCollections" /> -->
			<!--  <class name="API.GraphQL" /> -->
			 <class name="CrossBrowser.Chrome" />
		</classes>
	</test> 
		<test thread-count="5" name="Test2">
		<classes>		
			 <class name="CrossBrowser.Firefox" />
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
